.base{
    background-color: brown;
    width: 500px;
    height: 350px;
    border: 15px ridge rgb(90, 112, 240);
    margin:35px;
    float: left;
}

.superior{
    background-color: aqua;
    width: 500px;
    height: 175px;
}

.image{
    width: 80px;
    height: 80px;
}

.logotipo{
    position: relative;
    top:135px;
    left: 210px;
}

.parr{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    color: burlywood;
    position: relative;
    top:100px;
    left: px;
}